// 颜色定义规范
$color-title = #333
$color-subtitle = #888
$color-sm-title = #666
$color-desc = #666
$color-active = #dd001b
$color-play-icon = #999
$color-icon = #fff
$color-letter = #333
$color-index = #999
$color-theme = #d43c33
$color-background = #fff

//字体定义规范
$font-small = 12px Helvetica, sans-serif
$font-medium = 13px Helvetica, sans-serif
$font-medium-x = 14px Helvetica, sans-serif
$font-large = 15px Helvetica, sans-serif
$font-large-x = 17px Helvetica, sans-serif
$font-large-2x = 18px Helvetica, sans-serif

//边框定义规范
 
$border-title = 2px solid #d33a31
$border-list = 1px solid #F0F0F0
$border-active = 2px solid #d33a31 
$border-hotkey = 1px solid #d3d4da
